<html>
  <head>
    <title>Checkmates</title>
    <link rel="icon" type="image/ico" href="/static/resources/icons/favicon.ico"/>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">
    <h1><a href="/">Checkmates</a></h1>
	<p>Chess with friends!</p>

    {% if username == "" %}
      <p>Not logged in</p>
    {% else %}
      <p>Logged in as {{ username }}</p>
	  <form action="/user/{{ username }}">
	    <input type=submit value="My Profile">
	  </form>
	  <form action="/users/">
	    <input type=submit value="User List">
	  </form>
	  <form action="/logout/">
	    <input type=submit value="Logout">
	  </form>
    {% endif %}

    {% block content %} {% endblock %}
    </div>
  </body>
</html>
