<html>
  <head>
    <title>{{ player1 }} vs {{ player2 }}</title>
    <link rel="stylesheet" href="/static/css/game.css">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/js/chessgame.js"></script>
	<style type="text/css">
      div.inline { float:left; }
	  .clearBoth { clear:both; }
	  .img-with-text {
        text-align: justify;
        width: [width of img];
      }

      .img-with-text img {
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1><a href="/">Checkmates</a></h1>
	<p>Chess with friends!</p>

    {% if username == "" %}
      <p>Not logged in</p>
    {% else %}
      <p>Logged in as {{ username }}</p>
	  <form action="/user/{{ username }}">
	    <input type=submit value="My Profile">
	  </form>
	  <form action="/users/">
	    <input type=submit value="User List">
	  </form>
	  <form action="/logout/">
	    <input type=submit value="Logout">
	  </form>
    {% endif %}

    {% block content %} {% endblock %}
    </div>
  </body>
</html>
