{% extends "gamebase.html" %}
{% block content %}
	<div class="inline">
	  <div class="img-with-text">
	    <a href="/user/{{ player1 }}">
	    <img src="/static/resources/userimages/{{ player1 }}.png" width=50px height=50px>
		<h3>{{ player1 }}</h3>
		</a>
      </div>
	</div>
	<div class="inline">
	  <h3>  VS  </h3>
	</div>
	<div class="inline">
	  <div class="img-with-text">
	    <a href="/user/{{ player2 }}">
	    <img src="/static/resources/userimages/{{ player2 }}.png" width=50px height=50px>
	    <h3>{{ player2 }}</h3>
		</a>
	  </div>
	</div>
	<br class="clearBoth">
    <div class="gameid {{ gameid }}"></div>
    {% if turn == 1 %}
      {% if user == player1 %}
        <div class="yourturn pwhite"></div>
      {% endif %}
      <h4 class="player {{ player1 }}">{{ player1 }}'s turn!</h4>
    {% else %}
      {% if user == player2 %}
        <div class="yourturn pblack"></div>
      {% endif %}
      <h4 class="player {{ player2 }}">{{ player2 }}'s turn!</h4>
    {% endif %}
	{% if finished %}
	  <p>Game is complete! Winner is {{ winner }}!</p>
	{% endif %}
    <table>
      <tr>
        {% set counter = 0 %}
        {% set counter2 = 8 %}
        {% set alternate = 'white' %}
        {% for piece in board %}
          {% set tmp = "abcdefgh"[counter] %}
          {% if piece is lower %}
            {% if piece == 'u' %}
              <td class="{{ tmp }} {{ counter2 }} {{ alternate }} piece {{ piece }} pwhite" width="80px" height="80px"><img src='/static/resources/chessimages/white/p.png' width="50%" height="70%"/></td>
            {% else %}
              <td class="{{ tmp }} {{ counter2 }} {{ alternate }} piece {{ piece }} pwhite" width="80px" height="80px"><img src='/static/resources/chessimages/white/{{ piece }}.png' width="50%" height="70%"/></td>
            {% endif %}
          {% elif piece is upper %}
            {% if piece == 'U' %}
              <td class="{{ tmp }} {{ counter2 }} {{ alternate }} piece {{ piece|lower }} pblack" width="80px" height="80px"><img src='/static/resources/chessimages/black/p.png' width="50%" height="70%"/></td>
            {% else %}
              <td class="{{ tmp }} {{ counter2 }} {{ alternate }} piece {{ piece|lower }} pblack" width="80px" height="80px"><img src='/static/resources/chessimages/black/{{ piece|lower }}.png' width="50%" height="70%"/></td>
            {% endif %}
          {% else %}
            <td class="{{ tmp }} {{ counter2 }} {{ alternate }} blank" width="80px" height="80px"></td>
          {% endif %}
          {% set counter = counter + 1 %}
          {% if counter > 7 %}
            </tr>
            <tr>
            {% set counter = 0 %}
            {% set counter2 = counter2-1 %}
          {% else %}
            {% if alternate == 'white' %}
              {% set alternate = 'black'%}
            {% else %}
              {% set alternate = 'white' %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </tr>
    </table>
{% endblock %}