{% extends "base.html" %}
{% block content %}
  <h2>Please either register or login</h2>
  <form action="/register/">
    <input type=submit value="Register">
  </form>
  <form action="/login/">
    <input type=submit value="Login">
  </form>
{% endblock %}