{% extends "base.html" %}
{% block content %}
  <h2>Games</h2>
  {% if games|length > 0 %}
    <ul>
    {% for game in games %}
      <li><a href='/game/{{ game.id }}'>game vs. {{ game.opponent }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  <h2>Friends</h2>
  {% if friends|length > 0 %}
    <ul>
    {% for friend in friends %}
      <li><a href='/user/{{ friend }}'>{{ friend }}</a><form action='/challenge/{{ friend }}'><input type=submit value='Challenge'></form></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>There's no one here :(</p>
  {% endif %}
  {% if pending|length > 0 %}
    <h2>Pending requests</h2>
    <ul>
      {% for request in pending %}
         <li>{{ request }}: <form action='' method='post'><input type=hidden value="{{ request }}" name="user"><input type=hidden value="accept" name="response"><input type=submit value="Accept"></form><form action='' method='post'><input type=hidden value="{{ request }}" name="user"><input type=hidden value="deny" name="response"><input type=submit value="Deny"></form></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}