{% extends "base.html" %}
{% block content %}
  <form action="" method="post">
    <p><input type=text name=username placeholder="Username">
    <p><input type=password name=password placeholder="Password">
    <p><input type=submit value=Login>
  </form>
{% endblock %}
