{% extends "base.html" %}
{% block content %}
  {% if message != "" %}
    <p>{{ message }}</p>
  {% endif %}
  <form action="" method="post">
    <p><input type=text name=username placeholder="username">
    <p><input type=password name=password placeholder="password">
    <p><input type=submit value=Register>
  </form>
{% endblock %}
