{% extends "base.html" %}
{% block content %}
	  <p>Image must be 100px X 100px or smaller and must be .png</p>
      <form action="" method="post" name="form" enctype="multipart/form-data">
        <input type="file" name="datafile" accept=".png"/>
        <input type="submit" name="submit" id="submit" />
      </form>
	  
	  <h4>{{ message }}</h4>
{% endblock %}