{% extends "base.html" %}
{% block content %}
  <h1>{{ user }}</h1>
  <img src="/static/resources/userimages/{{ user }}.png">
  {% if not notself %}
    <form action='/uploadimage/'>
	  <input type=submit value='Change profile picute'>
	</form>
	<p>Profile picture not updating? Try pressing Ctrl + F5!</p>
  {% endif %}
  <h2>Wins/Losses: {{ wins }}/{{ losses }}</h2>
  <h2>Friends:</h2>
  <ul>
    {% for friend in friends %}
      <li><a href="/user/{{ friend }}">{{ friend }}</a></li>
    {% endfor %}
  </ul>
  {% if username != '' %}
    {% if arefriends %}
      <form action="" method="post">
        <input type=hidden value="remove" name="task">
        <input type=submit value="Remove friend">
      </form>
    {% elif pending %}
      <p>Request is pending</p>
      <form action="" method="post">
        <input type=hidden value="remove" name="task">
        <input type=submit value="Cancel request">
    {% elif notself %}
      <form action="" method="post">
        <input type=hidden value="add" name="task">
        <input type=submit value="Add Friend">
      </form>
    {% endif %}
  {% endif %}
  <h2>Games:</h2>
  <ul>
    {% for game in games %}
	  <li><a href='/game/{{ game.id }}'>{{ user }} vs {{ game.opponent }}</a></li>
	{% endfor %}
  </ul>
{% endblock %}
